---
layout: base
permalink: /index.html
title: 'The Scalable Way'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
bodyClass: home

hero:
  title: 'Empowering Data Platforms with Precision and Scale'
  subtitle: |
    **The Scalable Way** is a professional services agency focusing on "as a code" data platform infrastructure, analytics and data science workflows.
  button_text: Learn more
  button_target: #

valuetitle: 'Is your data tech stack working with you or against you?'
valueprop: |
  Most data professionals are stuck navigating complex analytics workflows. They deal with fragmented access, manual maintenance, “ad hoc” pipelines, and weak security and governance—largely because they rely on a patchwork of poorly integrated tools instead of a cohesive data platform.

  In contrast, high-performing analytics teams prioritize scalable solutions, borrowing best practices from software development. These solutions are automated, provide streamlined workflows, ensure a strong developer experience, are secure by default, and consistently deliver reliable production insights. A well-designed data platform is essential to achieve these outcomes.

whatido: 'I help the owner-led boutique consultancy achieve greater efficiency and more robust results.'

blog:
  title: 'Our Insights'
  intro: 'Selected Articles. Check our blog for more.'
---

<div class="wrapper">

  <div class="hero wrapper">
    <header class="flow">
			<h1>{{ hero.title }}</h1>
      <p>{{ hero.subtitle | markdownFormat | safe }}</p>
			<a href="{{ hero.button_target }}" class="button"> {{ hero.button_text }}  {% svg "misc/arrow" %}</a>
    </header>
		{% svg "brand/simple" %}
    {% svg "brand/staggered" %}
  </div>
</div>


<div class="wrapper">

  <article class="full | region">
    <div class="wrapper flow prose">
      <h3 id="an-eleventy-starter">{{ valuetitle }}</h3>
      <p>
        {{ valueprop | markdownFormat | safe  }}
      </p>
    </div>
  </article>

  <article class="full | region">
    <div class="wrapper flow prose bg-secondary-highlight p-m">
      <p>
        {{ whatido }}
      </p>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      <!-- blog intro text is optional. -->

      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}

      <div class="feature |  region">
        <custom-masonry layout="50-50">
          <!-- loop posts -->
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
						{% set definedDate = item.date %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>

{%- css "inline" -%}
  {%- include 'css/home.css' -%}
  {%- include "css/custom-card.css" -%}
{%- endcss -%}
