---
layout: base
permalink: /index.html
title: 'Clarity Ops'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
valuetitle: 'Is your data platform designed to succeed?'
valueprop: 'Most data professionals find themselves entrenched in the day-to-day manual development of analytical insights. They operate in an “ad-hoc” way, on top of a constellation of poorly integrated tools and data sources, often focusing on short-term deliverables without considering the future long term viability of what they build. 

<br><br>On the other hand, high-performing data professionals focus on building solutions that can scale and can operate reliably in production over long periods of time. They also understand the importance of automation and developer experience.

<br><br>You cannot win in analytics anymore with an “ad-hoc” approach to your data platform, fire fighting production issues on a daily basis instead of focusing on building deeper insights for your users.'

whatido: 'I help the owner-led boutique consultancy achieve greater efficiency and more robust results.'

blog:
  title: 'Our Insights'
  intro: 'Selected Articles. Check our blog for more.'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center text-base-light">{{ title }}</h1>
    </div>

    {% svg "divider/waves", null, "seperator" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h3 id="an-eleventy-starter">{{ valuetitle }}</h3>
      <p>
        {{ valueprop | safe }}
      </p>
    </div>
  </article>

  <article class="full | region">
    <div class="wrapper flow prose bg-secondary-highlight p-2">
      <p>
        {{ whatido }}
      </p>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      <!-- blog intro text is optional. -->

      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}

      <div class="feature |  region">
        <custom-masonry layout="50-50">
          <!-- loop posts -->
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
						{% set definedDate = item.date %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
